@page
@model ProyectoBase.Pages.FicGestionEventos.Edificios.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Detalles Edificio</h2>
<h4>Catálago de Edificios</h4>

    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                <label class="control-label">Clave:</label>
            </dt>
            <dd>
                @Html.DisplayFor(model => model.eva_cat_edificios.Clave)
            </dd>
            <dt>
                <label class="control-label">Alias:</label>
            </dt>
            <dd>
                @Html.DisplayFor(model => model.eva_cat_edificios.Alias)
            </dd>
            <dt>
                <label class="control-label">Descripción:</label>
            </dt>
            <dd>
                @Html.DisplayFor(model => model.eva_cat_edificios.DesEdificio)
            </dd>
            <dt>
                <label class="control-label">Prioridad:</label>
            </dt>
            <dd>
                @Html.DisplayFor(model => model.eva_cat_edificios.Prioridad)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-page="./Edit" asp-route-id="@Model.eva_cat_edificios.IdEdificio" class="btn btn-info">Editar</a> |
        <a asp-page="./Index" class="btn btn-warning">Regresar a lista</a>
    </div>
