@page
@model ProyectoBase.Pages.Menu.FicGestionEventos.Edificios.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Eliminar Edificio</h2>

<h3>¿Estas seguro de que deseas eliminar este edificio?</h3>
<div>
    <h4>Catálogo Edificios</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.eva_cat_edificios.Clave)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_cat_edificios.Clave)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.eva_cat_edificios.Alias)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_cat_edificios.Alias)
        </dd>
        <dt>
            Descripción
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_cat_edificios.DesEdificio)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.eva_cat_edificios.Prioridad)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_cat_edificios.Prioridad)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="eva_cat_edificios.IdEdificio" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-page="./Index" class="btn btn-default">Regresar a lista</a>
    </form>
</div>
