@page
@model ProyectoBase.Pages.Menu.FicGestionEventos.Edificios.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Catálago de Edificios</h2>

<p>
    <a asp-page="Create" class="btn btn-info">Agregar nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <label class="control-label">Clave</label>
            </th>
            <th>
                <label class="control-label">Alias</label>
            </th>
            <th>
                <label class="control-label">Descripción</label>
            </th>
            <th>
                <label class="control-label">Prioridad</label>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.eva_cat_edificios)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Clave)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Alias)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DesEdificio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Prioridad)
                </td>
                <td>
                    <a asp-page="../Espacios/Index" class="glyphicon glyphicon-home" asp-route-id="@item.IdEdificio"></a> |
                    <a asp-page="./Edit" class="glyphicon glyphicon-pencil" asp-route-id="@item.IdEdificio"></a> |
                    <a asp-page="./Details" class="glyphicon glyphicon-list-alt" asp-route-id="@item.IdEdificio"></a> |
                    <a asp-page="./Delete" class="glyphicon glyphicon-trash" asp-route-id="@item.IdEdificio"></a>
                </td>
            </tr>
        }
    </tbody>
</table>
