@page
@model ProyectoBase.Pages.FicGestionEventos.EventoZonas.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Zonas para Eventos</h2>

<p>
    <a asp-page="Create" 
       asp-route-edificio="@Model.IdEdificio"
       asp-route-espacio="@Model.IdEspacio"
       asp-route-evento="@Model.IdEvento"
       asp-route-horario="@Model.IdHorario"
       class="btn btn-info">Agregar</a>
    <a asp-page="../EventoHorarios/Index" asp-route-id="@Model.IdEvento" class="btn btn-warning">Regresar a la Lista de Horarios</a>
</p>

<dl class="dl-horizontal">
    <dt>
        <label class="control-label">Evento:</label>
    </dt>
    <dd>
        @Model.Evento(Model.res_evento_horarios.IdEdificio.ToString())
    </dd>
    <dt>
        <label class="control-label">Edificio:</label>
    </dt>
    <dd>
        @Model.Edificio(Model.res_evento_horarios.IdEdificio.ToString())
    </dd>
    <dt>
        <label class="control-label">Espacio:</label>
    </dt>
    <dd>
        @Model.Espacio(Model.res_evento_horarios.IdEspacio.ToString())
    </dd>
    <dt>
        <label class="control-label">Día:</label>
    </dt>
    <dd>
        @Html.DisplayFor(model => model.res_evento_horarios.Dia)
    </dd>
    <dt>
        <label class="control-label">Fecha de Inicio</label>
    </dt>
    <dd>
        @Html.DisplayFor(model => model.res_evento_horarios.FechaHoraIni)
    </dd>
    <dt>
        <label class="control-label">FEcha de Culminación:</label>
    </dt>
    <dd>
        @Html.DisplayFor(model => model.res_evento_horarios.FechaHoraFin)
    </dd>
    <dt>
        <label class="control-label">Fecha de Registro:</label>
    </dt>
    <dd>
        @Html.DisplayFor(model => model.res_evento_horarios.FechaReg)
    </dd>
    <dt>
        <label class="control-label">Usuario que Registro</label>
    </dt>
    <dd>
        @Html.DisplayFor(model => model.res_evento_horarios.UsuarioReg)
    </dd>
</dl>

<table class="table">
    <thead>
        <tr>
                <th>
                    Zona
                </th>
                <th>
                    Fecha de Registro
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.res_evento_zonas) {
        <tr>
            <td>
                @Model.Zona(item.IdZona.ToString())
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaReg)
            </td>
            <td>
                <div class="nav-item dropdown">
                    <a class="btn btn-info" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Opciones
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <ul class="nav navbar-nav">
                            <li>
                                <a asp-page="./Delete"
                                   asp-route-edificio="@item.IdEdificio"
                                   asp-route-espacio="@item.IdEspacio"
                                   asp-route-evento="@item.IdEvento"
                                   asp-route-zona="@item.IdZona"
                                   asp-route-horario="@Model.IdHorario"
                                   class="glyphicon glyphicon-trash"> Eliminar</a>
                                <a asp-page="../EventoZonaBoletos/Index"
                                   asp-route-edificio="@item.IdEdificio"
                                   asp-route-espacio="@item.IdEspacio"
                                   asp-route-evento="@item.IdEvento"
                                   asp-route-zona="@item.IdZona"
                                   asp-route-horario="@Model.IdHorario"
                                   class="glyphicon glyphicon-book"> Boletos</a>
                            </li>
                        </ul>
                    </div>
                </div>
               
            </td>
        </tr>
}
    </tbody>
</table>
