@page
@model ProyectoAE.Pages.GestionDeEventos.EvaCatEspacios.IndexModel

@{
    ViewData["Title"] = "Lista Espacios";
}

<h2>Lista de Espacios</h2>

<p>
    <a asp-page="Create">Crear nuevo Espacio</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Edificio
            </th>
            <th>
                Descripcion de Espacio
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.eva_cat_espacios) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEdificio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DesEspacio)
            </td>
            <td>
                <a asp-page="./Edit" class="glyphicon glyphicon-pencil" asp-route-id="@item.Id"></a> |
                <a asp-page="./Details" class="glyphicon glyphicon-list-alt" asp-route-id="@item.Id"></a> |
                <a asp-page="./Delete" class="glyphicon glyphicon-trash" asp-route-id="@item.Id"></a>
            </td>
        </tr>
}
    </tbody>
</table>
