@page
@model ProyectoAE.Pages.GestionDeEventos.ResEvento.IndexModel

@{
    ViewData["Title"] = "Eventos";
}

<h2>Eventos</h2>

<p>
    <a asp-page="Create">Agregar nuevo evento</a>
</p>
<form>
    <p>
        Buscar por Nombre: <input type="text"  name="SearchString" >
        <input type="submit" value="Buscar" class="btn btn-primary"/> <a asp-page="./Index" class="btn btn-danger">Limpiar</a>
    </p>
</form>
<table class="table">
    <thead>
        <tr>
                <th>
                    ID
                </th>
                <th>
                    Nombre
                </th>
                <th>
                    Ponente
                </th>
                <th>
                    Fecha de Inicio
                </th>
                <th>
                    Fecha de Finalización
                </th>
                <th>
                    Explicación
                </th>
                <th>
                    Observaciones
                </th>
                <th>
                    Página Web
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Res_Eventos) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreEvento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Orador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaFin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Explicaciones)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Observaciones)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Url)
            </td>
            <td>
                <a asp-page="/GestionDeEventos/ResEventoHorario/Index" class="glyphicon glyphicon-calendar" asp-route-id="@item.Id"></a> |
                <a asp-page="./Edit" class="glyphicon glyphicon-pencil" asp-route-id="@item.Id"></a> |
                <a asp-page="./Details" class="glyphicon glyphicon-list-alt" asp-route-id="@item.Id"></a> |
                <a asp-page="./Delete" class="glyphicon glyphicon-trash" asp-route-id="@item.Id"></a>
            </td>
        </tr>
}
    </tbody>
</table>
