@page
@model ProyectoAE.Pages.GestionDeEventos.ResEvento.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Eventos</h2>

<p>
    <a asp-page="Create">Crear nuevo evento</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    ID
                </th>
                <th>
                    Nombre
                </th>
                <th>
                    Ponente
                </th>
                <th>
                    Fecha de Inicio
                </th>
                <th>
                    Fecha de Finalización
                </th>
                <th>
                    Explicación
                </th>
                <th>
                    Observaciones
                </th>
                <th>
                    Página Web
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Res_Eventos) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdEvento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreEvento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Orador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaFin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Explicaciones)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Observaciones)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Url)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Detalles</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
