@page
@model ProyectoBase.Pages.FicGestionEventos.EventoServicios.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Asignar Producto</h2>

<h4>Producto/Servicio</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="res_evento_servicios.IdEvento" value="@Model.IdEvento" type="hidden" class="form-control" />
            <div class="form-group">
                <label asp-for="res_evento_servicios.Requerido" class="control-label">Requerido:</label>
                @Html.DropDownListFor(model => model.res_evento_servicios.Requerido, Model.Requerido, "Selecciona", new { @class = "form-control" })
                <span asp-validation-for="res_evento_servicios.Requerido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="res_evento_servicios.IdProdServ" class="control-label">Producto/Servicio:</label>
                @Html.DropDownListFor(model => model.res_evento_servicios.IdProdServ, Model.TiposProdServ, "Selecciona", new { @class = "form-control", @onchange = @"form.submit();" })
                <span asp-validation-for="res_evento_servicios.IdProdServ" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="res_evento_servicios.IdProdServEsp" class="control-label">Especifico:</label>
                @Html.DropDownListFor(model => model.res_evento_servicios.IdProdServEsp, Model.TiposProdServEsp, "Selecciona", new { @class = "form-control" })
                <span asp-validation-for="res_evento_servicios.IdProdServEsp" class="text-danger"></span>
            </div>
            @if (Model.seRepiteRegistro) {
                <div class="form-group">
                    <span class="text-danger">Se repite el Registro</span>
                </div>
            }
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-info" /> |
                <a asp-page="Index" asp-route-id="@Model.IdEvento" class="btn btn-warning">Regresar a la Lista</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
