@page
@model ProyectoBase.Pages.FicGestionEventos.Espacios.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Eliminar Espacio</h2>

<h3>¿Estas seguro de que deseas eliminar este espacio?</h3>
<div>
    <h4>Catálogo Espacios</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Id
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_cat_espacios.IdEdificio)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.eva_cat_espacios.Clave)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_cat_espacios.Clave)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.eva_cat_espacios.Alias)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_cat_espacios.Alias)
        </dd>
        <dt>
            Descripción
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_cat_espacios.DesEspacio)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.eva_cat_espacios.Capacidad)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_cat_espacios.Capacidad)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.eva_cat_espacios.Prioridad)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_cat_espacios.Prioridad)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="eva_cat_espacios.Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-page="./Index" class="btn btn-default">Regresar a lista</a>
    </form>
</div>
