@page
@model ProyectoBase.Pages.FicGestionEventos.Espacios.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Detalles Espacio</h2>

<div>
    <h4>Catálogo Espacios</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Id
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_cat_espacios.IdEdificio)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.eva_cat_espacios.Clave)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_cat_espacios.Clave)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.eva_cat_espacios.Alias)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_cat_espacios.Alias)
        </dd>
        <dt>
            Descripción
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_cat_espacios.DesEspacio)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.eva_cat_espacios.Capacidad)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_cat_espacios.Capacidad)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.eva_cat_espacios.Prioridad)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_cat_espacios.Prioridad)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.eva_cat_espacios.Id" class="btn btn-primary">Editar</a> |
    <a asp-page="./Index" class="btn btn-default">Regresar a lista</a>
</div>
