@page
@model ProyectoBase.Pages.Menu.FicGestionEventos.Espacios.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Catálago de Espacios</h2>

<p>
    <a asp-page="Create" asp-route-id="@Model.IdEdificio" class="btn btn-info">Agregar nuevo</a>
    <a asp-page="../Edificios/Index" asp-route-id="@Model.IdEdificio" class="btn btn-warning">Regresar a lista de Edificios</a>
</p>
<br />
<dl class="dl-horizontal">
    <dt>
        <label class="control-label">Clave:</label>
    </dt>
    <dd>
        @Html.DisplayFor(model => model.eva_cat_edificios.Clave)
    </dd>
    <dt>
        <label class="control-label">Espacio:</label>
    </dt>
    <dd>
        @Html.DisplayFor(model => model.eva_cat_edificios.Alias)
    </dd>
    <dt>
        <label class="control-label">Descripción:</label>
    </dt>
    <dd>
        @Html.DisplayFor(model => model.eva_cat_edificios.DesEdificio)
    </dd>
    <dt>
        <label class="control-label">Prioridad:</label>
    </dt>
    <dd>
        @Html.DisplayFor(model => model.eva_cat_edificios.Prioridad)
    </dd>
</dl>
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                <label class="control-label">Clave</label>
            </th>
            <th>
                <label class="control-label">Alias</label>
            </th>
            <th>
                <label class="control-label">Descripción</label>
            </th>
            <th>
                <label class="control-label">Capacidad</label>
            </th>
            <th>
                <label class="control-label">Prioridad</label>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.eva_cat_espacios)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Clave)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Alias)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DesEspacio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Capacidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Prioridad)
                </td>
                <td>
                    <a asp-page="../Zonas/Index" class="glyphicon glyphicon-adjust" asp-route-espacio="@item.IdEspacio" asp-route-edificio="@item.IdEdificio" ></a>
                    <a asp-page="./Edit" class="glyphicon glyphicon-pencil" asp-route-id="@item.IdEspacio" asp-route-edificio="@Model.eva_cat_edificios.IdEdificio"></a>
                    <a asp-page="./Details" class="glyphicon glyphicon-list-alt" asp-route-id="@item.IdEspacio" asp-route-edificio="@Model.eva_cat_edificios.IdEdificio"></a>
                    <a asp-page="./Delete" class="glyphicon glyphicon-trash" asp-route-id="@item.IdEspacio" asp-route-edificio="@Model.eva_cat_edificios.IdEdificio"></a>
                </td>
            </tr>
        }
    </tbody>
</table>
