@page
@model ProyectoBase.Pages.FicGestionEventos.EventoEstatus.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Eliminar Evento</h2>

<h3>¿Estas seguro de que deseas eliminar este evento?</h3>
<div>
    <h4>Catálogo Evento Estatus</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Id Evento
        </dt>
        <dd>
            @Html.DisplayFor(model => model.res_evento_estatus.IdEvento)
        </dd>
        <dt>
            Fecha Estatus
        </dt>
        <dd>
            @Html.DisplayFor(model => model.res_evento_estatus.FechaEstatus)
        </dd>
        <dt>
            Id Tipo Estatus
        </dt>
        <dd>
            @Html.DisplayFor(model => model.res_evento_estatus.IdTipoEstatus)
        </dd>
        <dt>
            Id Estatus
        </dt>
        <dd>
            @Html.DisplayFor(model => model.res_evento_estatus.IdEstatus)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.res_evento_estatus.Actual)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.res_evento_estatus.Actual)
        </dd>
        <dt>
            Observaciones
        </dt>
        <dd>
            @Html.DisplayFor(model => model.res_evento_estatus.Observacion)
        </dd>
        <dt>
            Usuario que registra
        </dt>
        <dd>
            @Html.DisplayFor(model => model.res_evento_estatus.UsuarioReg)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="res_evento_estatus.Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-page="./Index" class="btn btn-default">Regresar a lista</a>
    </form>
</div>
