@page
@model ProyectoBase.Pages.FicGestionEventos.EventoEstatus.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Detalles Evento</h2>

<div>
    <h4>Catálogo Evento Estatus</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Id Evento
        </dt>
        <dd>
            @Html.DisplayFor(model => model.res_evento_estatus.IdEvento)
        </dd>
        <dt>
            Fecha Estatus
        </dt>
        <dd>
            @Html.DisplayFor(model => model.res_evento_estatus.FechaEstatus)
        </dd>
        <dt>
            Id Tipo Estatus
        </dt>
        <dd>
            @Html.DisplayFor(model => model.res_evento_estatus.IdTipoEstatus)
        </dd>
        <dt>
            Id Estatus
        </dt>
        <dd>
            @Html.DisplayFor(model => model.res_evento_estatus.IdEstatus)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.res_evento_estatus.Actual)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.res_evento_estatus.Actual)
        </dd>
        <dt>
            Observaciones
        </dt>
        <dd>
            @Html.DisplayFor(model => model.res_evento_estatus.Observacion)
        </dd>
        <dt>
            Usuario que registra
        </dt>
        <dd>
            @Html.DisplayFor(model => model.res_evento_estatus.UsuarioReg)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.res_evento_estatus.Id" class="btn btn-primary">Editar</a> |
    <a asp-page="./Index" class="btn btn-default">Regresar a lista</a>
</div>
