@page
@model ProyectoAE.Pages.GestionDeEventos.ResEventoHorario.DeleteModel

@{
    ViewData["Title"] = "Eliminar Horario";
}

<h2>Eliminar</h2>

<h3> ¿Esta seguro que desea eliminar el horario @Html.DisplayFor(model => model.Res_eventos_horarios.Id)?</h3>
<div>
    <h4>Control de Horarios</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            ID
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Res_eventos_horarios.Id)
        </dd>
        <dt>
            Edificio
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Res_eventos_horarios.IdEdificio)
        </dd>
        <dt>
            Espacio
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Res_eventos_horarios.IdEspacio)
        </dd>
        <dt>
            Hora Inicio
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Res_eventos_horarios.FechaHoraInicio)
        </dd>
        <dt>
            Hora Fin
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Res_eventos_horarios.FechaHoraFin)
        </dd>
        <dt>
            Hora de Registrio
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Res_eventos_horarios.FechaHoraRegistro)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Res_eventos_horarios.Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-page="./Index" class="btn btn-default">Regresar a lista</a>
    </form>
</div>
