@page
@model ProyectoAE.Pages.GestionDeEventos.ResEventoHorario.DetailsModel

@{
    ViewData["Title"] = "Detalles Horario";
}

<h2>Detalles Horario: @Html.DisplayFor(model => model.Res_eventos_horarios.Id)</h2>

<div>
    <h4>Control de Horarios</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            ID
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Res_eventos_horarios.Id)
        </dd>
        <dt>
            Edificio
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Res_eventos_horarios.IdEdificio)
        </dd>
        <dt>
            Espacio
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Res_eventos_horarios.IdEspacio)
        </dd>
        <dt>
            Hora Inicio
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Res_eventos_horarios.FechaHoraInicio)
        </dd>
        <dt>
            Hora Fin
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Res_eventos_horarios.FechaHoraFin)
        </dd>
        <dt>
            Hora de Registro
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Res_eventos_horarios.FechaHoraRegistro)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Res_eventos_horarios.Id" class="btn btn-primary">Editar</a> |
    <a asp-page="./Index" class="btn btn-default ">Regresar a lista</a>
</div>
