@page
@model ProyectoAE.Pages.GestionDeEventos.ResEventoHorario.IndexModel

@{
    ViewData["Title"] = "Horarios";
}

<h2>Control de Horarios</h2>

<p>
    <a asp-page="Create">Agregar nuevo horario</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                   ID
                </th>
                <th>
                   Hora Inicio
                </th>
                <th>
                   Hora Fin
                </th>
                <th>
                   Hora de Registro
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Res_eventos_horarios) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaHoraInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaHoraFin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaHoraRegistro)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Detalles</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
