@page
@model ProyectoBase.Pages.Menu.FicGestionEventos.EventoHorarios.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Eliminar</h2>

<h3>¿Deseas eliminar esto?</h3>
<div>
    <h4>Horarios de Eventos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label class="control-label">Evento:</label>
        </dt>
        <dd>
            @Model.Evento(Model.res_evento_horarios.IdEdificio.ToString())
        </dd>
        <dt>
            <label class="control-label">Edificio:</label>
        </dt>
        <dd>
            @Model.Edificio(Model.res_evento_horarios.IdEdificio.ToString())
        </dd>
        <dt>
            <label class="control-label">Espacio:</label>
        </dt>
        <dd>
            @Model.Espacio(Model.res_evento_horarios.IdEspacio.ToString())
        </dd>
        <dt>
            <label class="control-label">Día:</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.res_evento_horarios.Dia)
        </dd>
        <dt>
            <label class="control-label">Fecha de Inicio</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.res_evento_horarios.FechaHoraIni)
        </dd>
        <dt>
            <label class="control-label">FEcha de Culminación:</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.res_evento_horarios.FechaHoraFin)
        </dd>
        <dt>
            <label class="control-label">Disponible:</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.res_evento_horarios.Disponible)
        </dd>
        <dt>
            <label class="control-label">Fecha de Registro:</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.res_evento_horarios.FechaReg)
        </dd>
        <dt>
            <label class="control-label">Usuario que Registro</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.res_evento_horarios.UsuarioReg)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="res_evento_horarios.IdHorarioDes" />
        <input type="submit" value="Eliminar" class="btn btn-default" /> |
        <a asp-page="./Index">Regresar a la Lista</a>
    </form>
</div>
