@page
@model ProyectoBase.Pages.Menu.FicGestionEventos.EventoHorarios.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Horarios de Eventos</h2>

<p>
    <a asp-page="Create">Nuevo Horario</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <label class="control-label">Evento</label>
            </th>
            <th>
                <label class="control-label">Edificio</label>
            </th>
            <th>
                <label class="control-label">Espacio</label>
            </th>
            <th>
                <label class="control-label">Dia</label>
            </th>
            <th>
                <label class="control-label">Inicio</label>
            </th>
            <th>
                <label class="control-label">Culminación</label>
            </th>
            <th>
                <label class="control-label">Disponible</label>
            </th>
            <th>
                <label class="control-label">Fecha Registro</label>
            </th>
            <th>
                <label class="control-label">Usuario que Registró</label>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.res_evento_horarios) {
        <tr>
            <td>
                @Model.Evento(item.IdEvento.ToString())
            </td>
            <td>
                @Model.Edificio(item.IdEdificio.ToString())
            </td>
            <td>
                @Model.Espacio(item.IdEspacio.ToString())
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaHoraIni)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaHoraFin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Disponible)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaReg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsuarioReg)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.IdHorarioDes">Editar</a> |
                <a asp-page="./Details" asp-route-id="@item.IdHorarioDes">Detalles</a> |
                <a asp-page="./Delete" asp-route-id="@item.IdHorarioDes">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
