@page
@model ProyectoAE.Pages.GestionDeEventos.ResEvento.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Eliminar</h2>

<h3>¿Seguro que deseas eliminar este evento?</h3>
<div>
    <p><b>Evento: </b>@Html.DisplayFor(model => model.Res_Eventos.NombreEvento)</p>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Res_Eventos.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Res_Eventos.Id)
        </dd>

        <dt>
            Nombre del Evento
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Res_Eventos.NombreEvento)
        </dd>
        <dt>
            Ponente
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Res_Eventos.Orador)
        </dd>
        <dt>
            Fecha de Inicio
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Res_Eventos.FechaInicio)
        </dd>
        <dt>
           Fecha de Finalización
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Res_Eventos.FechaFin)
        </dd>
        <dt>
            Explicación
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Res_Eventos.Explicaciones)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Res_Eventos.Observaciones)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Res_Eventos.Observaciones)
        </dd>

        <dt>
            Página Web
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Res_Eventos.Url)
        </dd>

    </dl>

    <form method="post">
        <input type="hidden" asp-for="Res_Eventos.Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-page="./Index" class="btn btn-default">Regresar</a>
    </form>
</div>
