@page
@model ProyectoAE.Pages.GestionDeEventos.Estados.DeleteModel

@{
    ViewData["Title"] = "Eliminar Estado";
}

<h2>Eliminar</h2>

<h3>¿Esta seguro que desea eliminar el estado: @Html.DisplayFor(model => model.Estado.Id) - @Html.DisplayFor(model => model.Estado.EstadoDes)?</h3>
<div>
    <h4>Control de Estados</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            ID
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Estado.Id)
        </dd>
        <dt>
           Estado
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Estado.EstadoDes)
        </dd>
        <dt>
           Fecha
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Estado.fecha)
        </dd>
        <dt>
            Observaciones
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Estado.Observaciones)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Estado.Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-page="./Index" class="btn btn-default">Regresar a lista</a>
    </form>
</div>
