@page
@model ProyectoBase.Pages.FicGestionEventos.CatProductoServicios.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Eliminar Catálogo</h2>

<h3>¿Estas seguro de que deseas eliminar este catálogo?</h3>
<div>
    <h4>Catálago de Productos y Servicios</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.cat_productos_servicios.ClaveProdServ)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.cat_productos_servicios.ClaveProdServ)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.cat_productos_servicios.CodigoBarras)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.cat_productos_servicios.CodigoBarras)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.cat_productos_servicios.DesProdServ)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.cat_productos_servicios.DesProdServ)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.cat_productos_servicios.ProductoServicio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.cat_productos_servicios.ProductoServicio)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.cat_productos_servicios.IdTipoGenProdServ)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.cat_productos_servicios.IdTipoGenProdServ)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.cat_productos_servicios.IdGenProdServ)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.cat_productos_servicios.IdGenProdServ)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="cat_productos_servicios.Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-page="./Index" class="btn btn-default">Regresar a lista</a>
    </form>
</div>
