@page
@model ProyectoBase.Pages.FicGestionEventos.CatProductoServicios.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Detalles Catálogo</h2>

<div>
    <h4>Catálago de Productos y Servicios</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.cat_productos_servicios.ClaveProdServ)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.cat_productos_servicios.ClaveProdServ)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.cat_productos_servicios.CodigoBarras)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.cat_productos_servicios.CodigoBarras)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.cat_productos_servicios.DesProdServ)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.cat_productos_servicios.DesProdServ)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.cat_productos_servicios.ProductoServicio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.cat_productos_servicios.ProductoServicio)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.cat_productos_servicios.IdTipoGenProdServ)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.cat_productos_servicios.IdTipoGenProdServ)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.cat_productos_servicios.IdGenProdServ)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.cat_productos_servicios.IdGenProdServ)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.cat_productos_servicios.Id" class="btn btn-primary">Editar</a> |
    <a asp-page="./Index" class="btn btn-default">Regresar a lista</a>
</div>
