@page
@model ProyectoBase.Pages.Menu.FicGestionEventos.Eventos.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>res_eventos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.res_eventos.IdTipoGenEvento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.res_eventos.IdTipoGenEvento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.res_eventos.IdGenEvento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.res_eventos.IdGenEvento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.res_eventos.IdPersonaReg)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.res_eventos.IdPersonaReg)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.res_eventos.NombreEvento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.res_eventos.NombreEvento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.res_eventos.Observacion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.res_eventos.Observacion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.res_eventos.Explicacion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.res_eventos.Explicacion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.res_eventos.URL)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.res_eventos.URL)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.res_eventos.FechaIn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.res_eventos.FechaIn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.res_eventos.FechaFin)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.res_eventos.FechaFin)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.res_eventos.IdEdificio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.res_eventos.IdEdificio)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.res_eventos.FechaReg)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.res_eventos.FechaReg)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.res_eventos.UsuarioReg)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.res_eventos.UsuarioReg)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.res_eventos.IdEvento">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
