@page
@model ProyectoBase.Pages.FicGestionEventos.EventoClientes.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>res_evento_clientes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.res_evento_clientes.IdEvento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.res_evento_clientes.IdEvento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.res_evento_clientes.IdClienteReserva)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.res_evento_clientes.IdClienteReserva)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.res_evento_clientes.FechaRegistro)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.res_evento_clientes.FechaRegistro)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.res_evento_clientes.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
