@page
@model ProyectoBase.Pages.Menu.FicGestionEventos.CatProdServEspecifico.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Catálogo de Productos/Servicios Especificos</h2>

<p>
    <a asp-page="Create" asp-route-id="@Model.IdProdServ" class="btn btn-info">Agregar nuevo</a>
    <a asp-page="../CatProductosServicios/Index" asp-route-id="@Model.IdProdServ" class="btn btn-warning">Regresar a la Lista de Productos y Servicios</a>
</p>

<dl class="dl-horizontal">
    <dt>
        Clave:
    </dt>
    <dd>
        @Html.DisplayFor(model => model.cat_productos_servicios.ClaveProdServ)
    </dd>
    <dt>
        Código de Barras:
    </dt>
    <dd>
        @Html.DisplayFor(model => model.cat_productos_servicios.CodigoBarras)
    </dd>
    <dt>
        Descripción:
    </dt>
    <dd>
        @Html.DisplayFor(model => model.cat_productos_servicios.DesProdServ)
    </dd>
    <dt>
        Producto o Servicio:
    </dt>
    <dd>
        @Model.getProductoServicio(Model.cat_productos_servicios.ProductoServicio)
    </dd>
</dl>

<table class="table">
    <thead>
        <tr>
            <th>
                Clave
            </th>
            <th>
                Descripción
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.cat_prod_serv_especifico)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ClaveProdServEsp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DesProdServEsp)
                </td>
                <td>
                    <a asp-page="./Edit" class="glyphicon glyphicon-pencil" asp-route-id="@item.IdProdServEsp" asp-route-idprodserv_="@Model.cat_productos_servicios.IdProdServ"></a>
                    <a asp-page="./Details" class="glyphicon glyphicon-list-alt" asp-route-id="@item.IdProdServEsp" asp-route-idprodserv="@Model.cat_productos_servicios.IdProdServ"></a>
                    <a asp-page="./Delete" class="glyphicon glyphicon-trash" asp-route-id="@item.IdProdServEsp" asp-route-idprodserv="@Model.cat_productos_servicios.IdProdServ"></a>
                </td>
            </tr>
        }
    </tbody>
</table>
