@page
@model ProyectoBase.Pages.FicGestionEventos.CatProdServEspecifico.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Catálogo de Productos y Servicios Especificos</h2>

<p>
    <a asp-page="Create">Agregar nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Clave
            </th>
            <th>
                Descripción
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.cat_prod_serv_especifico)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdProdServ)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClaveProdServEsp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DesProdServEsp)
                </td>
                <td>
                    <a asp-page="./Edit" class="glyphicon glyphicon-pencil" asp-route-id="@item.Id"></a> |
                    <a asp-page="./Details" class="glyphicon glyphicon-list-alt" asp-route-id="@item.Id"></a> |
                    <a asp-page="./Delete" class="glyphicon glyphicon-trash" asp-route-id="@item.Id"></a>
                </td>
            </tr>
        }
    </tbody>
</table>
