@page
@model ProyectoAE.Pages.GestionDeEventos.Edificios.DeleteModel

@{
    ViewData["Title"] = "Eliminar Edificio";
}

<h2>Eliminar</h2>

<h3>¿Esta seguro que desea eliminar el edificio @Html.DisplayFor(model => model.Edificio.Nombre)?</h3>
<div>
    <h4>Catálogo de Edificios y Espacios</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            ID
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Edificio.Id)
        </dd>
        <dt>
            Nombre
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Edificio.Nombre)
        </dd>
        <dt>
            Disponibilidad
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Edificio.Disponibilidad)
        </dd>
        <dt>
            Capacidad
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Edificio.Capacidad)
        </dd>
        <dt>
            Dirección
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Edificio.Direccion)
        </dd>
        <dt>
            Detalles de Ubicación
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Edificio.DetalleUbicacion)
        </dd>
        <dt>
            Coordenada X
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Edificio.CoorX)
        </dd>
        <dt>
            Coordenada Y
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Edificio.CoorY)
        </dd>
        <dt>
            Observaciones
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Edificio.Observaciones)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Edificio.Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-page="./Index" class="btn btn-default">Regresar a lista</a>
    </form>
</div>
