@page
@model ProyectoAE.Pages.GestionDeEventos.Edificios.DetailsModel

@{
    ViewData["Title"] = "Detalles Edificio";
}

<h2>Detalles Edificio: @Html.DisplayFor(model => model.Edificio.Id) - @Html.DisplayFor(model => model.Edificio.Nombre) </h2>

<div>
    <h4>Catálogo de Edificios y Espacios</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            ID
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Edificio.Id)
        </dd>
        <dt>
            Nombre
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Edificio.Nombre)
        </dd>
        <dt>
            Disponibilidad
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Edificio.Disponibilidad)
        </dd>
        <dt>
            Capacidad
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Edificio.Capacidad)
        </dd>
        <dt>
            Dirección
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Edificio.Direccion)
        </dd>
        <dt>
            Detalles Ubicación
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Edificio.DetalleUbicacion)
        </dd>
        <dt>
            Latitud
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Edificio.CoorX)
        </dd>
        <dt>
            Longitud
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Edificio.CoorY)
        </dd>
        <dt>
            Observaciones
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Edificio.Observaciones)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Edificio.Id" class="btn btn-primary">Editar</a> |
    <a asp-page="./Index" class="btn btn-default">Regresar a lista</a>
</div>
