@page
@model ProyectoAE.Pages.GestionDeEventos.Edificios.IndexModel

@{
    ViewData["Title"] = "Control Edificios";
}

<<<<<<< HEAD
<h2>Catalago de Edificios y Espacios</h2>
=======
<h2>Catálogo de Edificios y Espacios</h2>
>>>>>>> a2a99a1eb99e6e15c704761b7f3e9bc3eba71d3a

<p>
    <a asp-page="Create">Agregar nuevo Edificio</a>
</p>
<form>
    <p>
        Buscar por Nombre: <input type="text" name="SearchString">
        <input type="submit" value="Buscar" class="btn btn-primary" /> <a asp-page="./Index" class="btn btn-danger">Limpiar</a>
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Nombre
            </th>
            <th>
                Disponibilidad
            </th>
            <th>
                Capacidad
            </th>
            <th>
                Dirección
            </th>
            <th>
                Detalle de Ubicación
            </th>
            <th>
                Latitud
            </th>
            <th>
                Longitud
            </th>
            <th>
                Observaciones
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Edificio) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Disponibilidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DetalleUbicacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CoorX)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CoorY)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Observaciones)
            </td>
            <td>
                <a asp-page="/GestionDeEventos/EvaCatEspacios/Index" class="glyphicon glyphicon-tag" asp-route-id="@item.Id"></a> |
                <a asp-page="./Edit" class="glyphicon glyphicon-pencil" asp-route-id="@item.Id"></a> |
                <a asp-page="./Details" class="glyphicon glyphicon-list-alt" asp-route-id="@item.Id"></a> |
                <a asp-page="./Delete" class="glyphicon glyphicon-trash" asp-route-id="@item.Id"></a>
            </td>
        </tr>
}
    </tbody>
</table>
