@page
@model ProyectoAE.Pages.GestionDeEventos.Edificios.IndexModel

@{
    ViewData["Title"] = "Control Edificios";
}

<h2>Catálogo de Edificios y Espacios</h2>

<p>
    <a asp-page="Create">Agregar nuevo Edificio</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Nombre
            </th>
            <th>
                Disponibilidad
            </th>
            <th>
                Capacidad
            </th>
            <th>
                Dirección
            </th>
            <th>
                Detalle de Ubicación
            </th>
            <th>
                Coordenada X
            </th>
            <th>
                Coordenada Y
            </th>
            <th>
                Observaciones
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Edificio) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Disponibilidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DetalleUbicacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CoorX)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CoorY)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Observaciones)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Detalles</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
