@page
@model ProyectoBase.Pages.Menu.FicGestionEventos.CatalogoGenerales.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Detalles Catálogo</h2>

<div>
    <h4>Catálago Generales</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Id Tipo General
        </dt>
        <dd>
            @Html.DisplayFor(model => model.cat_generales.IdTipoGeneral)
        </dd>
        <dt>
            Clave
        </dt>
        <dd>
            @Html.DisplayFor(model => model.cat_generales.Clave)
        </dd>
        <dt>
            Descripción
        </dt>
        <dd>
            @Html.DisplayFor(model => model.cat_generales.DesGeneral)
        </dd>
        <dt>
            Activo
        </dt>
        <dd>
            @Model.Activo(Model.cat_generales.Activo)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.cat_generales.IdGeneral" class="btn btn-primary">Editar</a> |
    <a asp-page="./Index" class="btn btn-default">Regresar a lista</a>
</div>
