@page
@model ProyectoBase.Pages.Menu.FicGestionEventos.CatalogoGenerales.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Catálago de Tipos</h2>

<p>
    <a asp-page="Create" class="btn btn-info">Agregar nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <label class="control-label">Id</label>
            </th>
            <th>
                <label class="control-label">Id Tipo General</label>
            </th>
            <th>
                <label class="control-label">Clave</label>
            </th>
            <th>
                <label class="control-label">Descripción</label>
            </th>
            <th>
                <label class="control-label">Activo</label>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.cat_generales)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdGeneral)
            </td>
            <td>
                @Model.TipoGenEvento(item.IdTipoGeneral.ToString())
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Clave)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DesGeneral)
            </td>
            <td>
                @Model.Activo(item.Activo)
            </td>
            <td>
                <a asp-page="./Edit" class="glyphicon glyphicon-pencil" asp-route-id="@item.IdGeneral"></a>
                <a asp-page="./Details" class="glyphicon glyphicon-list-alt" asp-route-id="@item.IdGeneral"></a>
                <a asp-page="./Delete" class="glyphicon glyphicon-trash" asp-route-id="@item.IdGeneral"></a>
            </td>
        </tr>
        }
    </tbody>
</table>
