@page
@model ProyectoBase.Pages.Menu.FicGestionEventos.CatalogoGenerales.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Catálago Generales</h2>

<p>
    <a asp-page="Create">Agregar nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Id Tipo General
            </th>
            <th>
                Clave
            </th>
            <th>
               Descripción
            </th>
            <th>
                Activo
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.cat_generales)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdTipoGeneral)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Clave)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DesGeneral)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Activo)
                </td>
                <td>
                    <a asp-page="./Edit" class="glyphicon glyphicon-pencil" asp-route-id="@item.IdGeneral"></a> |
                    <a asp-page="./Details" class="glyphicon glyphicon-list-alt" asp-route-id="@item.IdGeneral"></a> |
                    <a asp-page="./Delete" class="glyphicon glyphicon-trash" asp-route-id="@item.IdGeneral"></a>
                </td>
            </tr>
        }
    </tbody>
</table>
