@page
@model ProyectoBase.Pages.FicGestionEventos.EventoClientes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Catálago Evento Clientes</h2>

<p>
    <a asp-page="Create">Agregar nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Id Cliente
            </th>
            <th>
                Id Cliente Reservación
            </th>
            <th>
                Fecha de Registro
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.res_evento_clientes)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdEvento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdClienteReserva)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaRegistro)
                </td>
                <td>
                    <a asp-page="./Edit" class="glyphicon glyphicon-pencil" asp-route-id="@item.Id"></a> |
                    <a asp-page="./Details" class="glyphicon glyphicon-list-alt" asp-route-id="@item.Id"></a> |
                    <a asp-page="./Delete" class="glyphicon glyphicon-trash" asp-route-id="@item.Id"></a>
                </td>
            </tr>
        }
    </tbody>
</table>
