@page
@model ProyectoAE.Pages.GestionDeEventos.ResEventoHorario.IndexModel

@{
    ViewData["Title"] = "Horarios";
}

<h2>Control de Horarios</h2>

<p>
    <a asp-page="Create">Agregar nuevo horario</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Edificio
            </th>
            <th>
                Espacio
            </th>
            <th>
                Hora Inicio
            </th>
            <th>
                Hora Fin
            </th>
            <th>
                Fecha
            </th>
            <th>
                Hora de Registro
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Res_eventos_horarios) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEdificio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEspacio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaHoraInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaHoraFin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaHoraRegistro)
            </td>
            <td>
                <a asp-page="./Edit" class="glyphicon glyphicon-pencil" asp-route-id="@item.Id"></a> |
                <a asp-page="./Details" class="glyphicon glyphicon-list-alt" asp-route-id="@item.Id"></a> |
                <a asp-page="./Delete" class="glyphicon glyphicon-trash" asp-route-id="@item.Id"></a>
            </td>
        </tr>
}
    </tbody>
</table>
