@page
@model ProyectoBase.Pages.FicGestionEventos.CatalogoEstatus.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.cat_estatus[0].IdTipoEstatus)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.cat_estatus[0].Clave)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.cat_estatus[0].DesEstatus)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.cat_estatus[0].Activo)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.cat_estatus) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdTipoEstatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Clave)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DesEstatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Activo)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
