@page
@model ProyectoBase.Pages.Menu.FicGestionEventos.CatalogoEstatus.IndexModel

@{
    ViewData["Title"] = "Catalago Estatus";
}

<h2>Catálago Estatus</h2>

<p>
    <a asp-page="Create">Agregar nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Tipo Estatus
            </th>
            <th>
                Clave
            </th>
            <th>
                Descripción
            </th>
            <th>
                Activo
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.cat_estatus)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdTipoEstatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Clave)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DesEstatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Activo)
                </td>
                <td>
                    <a asp-page="./Edit" class="glyphicon glyphicon-pencil" asp-route-id="@item.IdEstatus"></a> |
                    <a asp-page="./Details" class="glyphicon glyphicon-list-alt" asp-route-id="@item.IdEstatus"></a> |
                    <a asp-page="./Delete" class="glyphicon glyphicon-trash" asp-route-id="@item.IdEstatus"></a>
                </td>
            </tr>
        }
    </tbody>
</table>