@page
@model ProyectoBase.Pages.FicGestionEventos.CatProductoServicios.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.cat_productos_servicios[0].ClaveProdServ)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.cat_productos_servicios[0].CodigoBarras)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.cat_productos_servicios[0].DesProdServ)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.cat_productos_servicios[0].ProductoServicio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.cat_productos_servicios[0].IdTipoGenProdServ)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.cat_productos_servicios[0].IdGenProdServ)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.cat_productos_servicios) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClaveProdServ)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoBarras)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DesProdServ)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductoServicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdTipoGenProdServ)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdGenProdServ)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
