@page
@model ProyectoBase.Pages.Menu.FicGestionEventos.ZonaServicios.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Eliminar</h2>

<h3>¿Seguro que quieres eliminar?</h3>
<div>
    <h4>Servicios Por Zona</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <!--@Html.DisplayNameFor(model => model.res_zonas_servicios.IdEdificio)-->
            Edificio
        </dt>
        <dd>
            <!--@Html.DisplayFor(model => model.res_zonas_servicios.IdEdificio)-->
            @Model.getEdificio(@Model.res_zonas_servicios.IdEdificio)
        </dd>
        <dt>
            Espacio
            <!--@Html.DisplayNameFor(model => model.res_zonas_servicios.IdEspacio)-->
        </dt>
        <dd>
            @Model.getEspacio(Model.res_zonas_servicios.IdEspacio)
            <!--@Html.DisplayFor(model => model.res_zonas_servicios.IdEspacio)-->
        </dd>
        <dt>
            Zona
            <!--@Html.DisplayNameFor(model => model.res_zonas_servicios.IdZona)-->
        </dt>
        <dd>
            @Model.getZona(Model.res_zonas_servicios.IdZona)
            <!--@Html.DisplayFor(model => model.res_zonas_servicios.IdZona)-->
        </dd>
        <dt>
            Producto/Servicio
            <!--@Html.DisplayNameFor(model => model.res_zonas_servicios.IdProdServ)-->
        </dt>
        <dd>
            @Model.getProdServ(Model.res_zonas_servicios.IdProdServ)
            <!--@Html.DisplayFor(model => model.res_zonas_servicios.IdProdServ)-->
        </dd>
        <dt>
            Producto/Servicio Especifico
            <!--@Html.DisplayNameFor(model => model.res_zonas_servicios.IdProdServEsp)-->
        </dt>
        <dd>
            @Model.getProdServEsp(Model.res_zonas_servicios.IdProdServEsp)
            <!--@Html.DisplayFor(model => model.res_zonas_servicios.IdProdServEsp)-->
        </dd>
    </dl>

    <form method="post">
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Regresar a la Lista</a>
    </form>
</div>
