@page
@model ProyectoBase.Pages.Menu.FicGestionEventos.ZonaServicios.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<<<<<<< HEAD
<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>res_zonas_servicios</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.res_zonas_servicios.IdEdificio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.res_zonas_servicios.IdEdificio)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.res_zonas_servicios.IdEspacio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.res_zonas_servicios.IdEspacio)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.res_zonas_servicios.IdZona)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.res_zonas_servicios.IdZona)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.res_zonas_servicios.IdProdServ)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.res_zonas_servicios.IdProdServ)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.res_zonas_servicios.IdProdServEsp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.res_zonas_servicios.IdProdServEsp)
=======
<h3>¿Quiere Eliminar?</h3>
<div>
    <h4>Servicios por Zonas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Edificio:
        </dt>
        <dd>
            @Model.getEdificio(Model.res_zonas_servicios.IdEdificio.ToString())
        </dd>
        <dt>
            Espacio:
        </dt>
        <dd>
            @Model.getEspacio(Model.res_zonas_servicios.IdEspacio.ToString())
        </dd>
        <dt>
            Zona:
        </dt>
        <dd>
            @Model.getZona(Model.res_zonas_servicios.IdZona.ToString())
        </dd>
        <dt>
            Producto/Servicio:
        </dt>
        <dd>
            @Model.getProductoServicio(Model.res_zonas_servicios.IdProdServ.ToString())
        </dd>
        <dt>
            Especifico:
        </dt>
        <dd>
            @Model.getProductoServicioEsp(Model.res_zonas_servicios.IdProdServEsp.ToString())
>>>>>>> 8e959b05e541a34fbeed99bf11184ad25419e79e
        </dd>
    </dl>
    
    <form method="post">
<<<<<<< HEAD
        <input type="hidden" asp-for="res_zonas_servicios.IdZonaServicio" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
=======
        <input type="hidden" asp-for="res_zonas_servicios.IdEdificio" />
        <input type="hidden" asp-for="res_zonas_servicios.IdEspacio" />
        <input type="hidden" asp-for="res_zonas_servicios.IdZona" />
        <input type="hidden" asp-for="res_zonas_servicios.IdProdServ" />
        <input type="hidden" asp-for="res_zonas_servicios.IdProdServEsp" />
        <input type="submit" value="Eliminar" class="btn btn-info" />
        <a asp-page="./Index"
           asp-route-edificio="@Model.res_zonas_servicios.IdEdificio"
           asp-route-espacio="@Model.res_zonas_servicios.IdEspacio"
           asp-route-zona="@Model.res_zonas_servicios.IdZona"
           class="btn btn-warning">Regresar a la Lista</a>
>>>>>>> 8e959b05e541a34fbeed99bf11184ad25419e79e
    </form>
</div>
