@page
@model ProyectoBase.Pages.Menu.FicGestionEventos.ZonaServicios.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>res_zonas_servicios</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <!--@Html.DisplayNameFor(model => model.res_zonas_servicios.IdEdificio)-->
            Edificio
        </dt>
        <dd>
            <!--@Html.DisplayFor(model => model.res_zonas_servicios.IdEdificio)-->
            @Model.getEdificio(@Model.res_zonas_servicios.IdEdificio)
        </dd>
        <dt>
            Espacio
            <!--@Html.DisplayNameFor(model => model.res_zonas_servicios.IdEspacio)-->
        </dt>
        <dd>
            @Model.getEspacio(Model.res_zonas_servicios.IdEspacio)
            <!--@Html.DisplayFor(model => model.res_zonas_servicios.IdEspacio)-->
        </dd>
        <dt>
            Zona
            <!--@Html.DisplayNameFor(model => model.res_zonas_servicios.IdZona)-->
        </dt>
        <dd>
            @Model.getZona(Model.res_zonas_servicios.IdZona)
            <!--@Html.DisplayFor(model => model.res_zonas_servicios.IdZona)-->
        </dd>
        <dt>
            Producto/Servicio
            <!--@Html.DisplayNameFor(model => model.res_zonas_servicios.IdProdServ)-->
        </dt>
        <dd>
            @Model.getProdServ(Model.res_zonas_servicios.IdProdServ)
            <!--@Html.DisplayFor(model => model.res_zonas_servicios.IdProdServ)-->
        </dd>
        <dt>
            Producto/Servicio Especifico
            <!--@Html.DisplayNameFor(model => model.res_zonas_servicios.IdProdServEsp)-->
        </dt>
        <dd>
            @Model.getProdServEsp(Model.res_zonas_servicios.IdProdServEsp)
            <!--@Html.DisplayFor(model => model.res_zonas_servicios.IdProdServEsp)-->
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit"
       asp-route-IdEdificio="@Model.res_zonas_servicios.IdEdificio"
       asp-route-IdEspacio="@Model.res_zonas_servicios.IdEspacio"
       asp-route-IdZona="@Model.res_zonas_servicios.IdZona"
       asp-route-IdProdServ="@Model.res_zonas_servicios.IdProdServ"
       asp-route-IdProdServEsp="@Model.res_zonas_servicios.IdProdServEsp">Editar</a> |
    <a asp-page="./Index">Volver a la Lista</a>
</div>
