@page
@model ProyectoBase.Pages.Menu.FicGestionEventos.ZonaServicios.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Editar</h2>

<h4>Servicios Por Zonas</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <!--input type="hidden" asp-for="res_zonas_servicios.Id" /-->
            <div class="form-group">
                Edificio:
                <!--label asp-for="res_zonas_servicios.IdEdificio" class="control-label"></label-->
                <!--input asp-for="res_zonas_servicios.IdEdificio" class="form-control" /-->
                @Html.DropDownListFor(model => model.res_zonas_servicios.IdEdificio, Model.Edificios, "Selecciona")
                <br />
                <span asp-validation-for="res_zonas_servicios.IdEdificio" class="text-danger"></span>
            </div>
            <div class="form-group">
                Espacio:
                <!--label asp-for="res_zonas_servicios.IdEspacio" class="control-label"></label-->
                <!--input asp-for="res_zonas_servicios.IdEspacio" class="form-control" /-->
                @Html.DropDownListFor(model => model.res_zonas_servicios.IdEspacio, Model.Espacios, "Selecciona")
                <span asp-validation-for="res_zonas_servicios.IdEspacio" class="text-danger"></span>
            </div>
            <div class="form-group">
                Zona:
                <!--label asp-for="res_zonas_servicios.IdZona" class="control-label"></label-->
                <!--input asp-for="res_zonas_servicios.IdZona" class="form-control" /-->
                @Html.DropDownListFor(model => model.res_zonas_servicios.IdZona, Model.Zonas, "Selecciona")
                <span asp-validation-for="res_zonas_servicios.IdZona" class="text-danger"></span>
            </div>
            <div class="form-group">
                Producto/Servicio:
                <!--label asp-for="res_zonas_servicios.IdProdServ" class="control-label"></label-->
                <!--input asp-for="res_zonas_servicios.IdProdServ" class="form-control" /-->
                @Html.DropDownListFor(model => model.res_zonas_servicios.IdProdServ, Model.ProdServ, "Selecciona")
                <span asp-validation-for="res_zonas_servicios.IdProdServ" class="text-danger"></span>
            </div>
            <div class="form-group">
                Producto/Servicio Especifico:
                <!--label asp-for="res_zonas_servicios.IdProdServEsp" class="control-label"></label-->
                <!--input asp-for="res_zonas_servicios.IdProdServEsp" class="form-control" /-->
                @Html.DropDownListFor(model => model.res_zonas_servicios.IdProdServEsp, Model.ProdServEsp, "Selecciona")
                <span asp-validation-for="res_zonas_servicios.IdProdServEsp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-page="./Index">Regresar a la Lista</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
