@page
@model ProyectoBase.Pages.Menu.FicGestionEventos.ZonaServicios.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Servicios por Zona</h2>

<p>
<<<<<<< HEAD
    <a asp-page="Create">Create New</a>
=======
    <a asp-page="Create"
        asp-route-edificio="@Model.IdEdificio"
        asp-route-espacio="@Model.IdEspacio"
        asp-route-zona="@Model.IdZona"
       class="btn btn-info">Añadir</a>
    <a asp-page="../Zonas/Index" asp-route-espacio="@Model.IdEspacio" asp-route-edificio="@Model.IdEdificio" class="btn btn-warning">Regresar a la Lista</a>
>>>>>>> 8e959b05e541a34fbeed99bf11184ad25419e79e
</p>

<dl class="dl-horizontal">
    <dt>
        Edificio:
    </dt>
    <dd>
        @Model.getEdificio(Model.IdEdificio.ToString())
    </dd>
    <dt>
        Espacio:
    </dt>
    <dd>
        @Model.getEspacio(Model.IdEspacio.ToString())
    </dd>
    <dt>
        Descripción:
    </dt>
    <dd>
        @Html.DisplayFor(model => model.res_cat_zonas.DesZona)
    </dd>
    <dt>
        Capacidad:
    </dt>
    <dd>
        @Html.DisplayFor(model => model.res_cat_zonas.CapacidadPer)
    </dd>
    <dt>
        Filas de Asientos:
    </dt>
    <dd>
        @Html.DisplayFor(model => model.res_cat_zonas.Filas)
    </dd>
    <dt>
        Asientos por Fila:
    </dt>
    <dd>
        @Html.DisplayFor(model => model.res_cat_zonas.AsientosPorFila)
    </dd>
</dl>

<table class="table">
    <thead>
        <tr>
                <th>
<<<<<<< HEAD
                    @Html.DisplayNameFor(model => model.res_zonas_servicios[0].IdEdificio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.res_zonas_servicios[0].IdEspacio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.res_zonas_servicios[0].IdZona)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.res_zonas_servicios[0].IdProdServ)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.res_zonas_servicios[0].IdProdServEsp)
=======
                    Producto/Servicio   
                </th>
                <th>
                    Especifico
>>>>>>> 8e959b05e541a34fbeed99bf11184ad25419e79e
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.res_zonas_servicios) {
        <tr>
            <td>
<<<<<<< HEAD
                @Html.DisplayFor(modelItem => item.IdEdificio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEspacio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdZona)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdProdServ)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdProdServEsp)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.IdZonaServicio">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.IdZonaServicio">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.IdZonaServicio">Delete</a>
=======
                @Model.getProductoServicio(item.IdProdServ.ToString())
            </td>
            <td>
                @Model.getProductoServicioEsp(item.IdProdServEsp.ToString())
            </td>
            <td>
                <a asp-page="./Delete"
                   asp-route-edificio="@item.IdEdificio"
                   asp-route-espacio="@item.IdEspacio"
                   asp-route-zona="@item.IdZona"
                   asp-route-prodserv="@item.IdProdServ"
                   asp-route-prodservesp="@item.IdProdServEsp"
                   class="glyphicon glyphicon-trash"></a>
>>>>>>> 8e959b05e541a34fbeed99bf11184ad25419e79e
            </td>
        </tr>
}
    </tbody>
</table>
