@page
@model ProyectoBase.Pages.Menu.FicGestionEventos.ZonaServicios.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Crear nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    Edificio
                </th>
                <th>
                    Espacio
                </th>
                <th>
                    Zona
                </th>
                <th>
                    Producto/Servicio
                </th>
                <th>
                    Producto/Servicio Especifico
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.res_zonas_servicios) {
        <tr>
            <td>
                @Model.getEdificio(@item.IdEdificio)
            </td>
            <td>
                @Model.getEdificio(@item.IdEspacio)
            </td>
            <td>
                @Model.getEdificio(@item.IdZona)
            </td>
            <td>
                @Model.getEdificio(@item.IdProdServ)
            </td>
            <td>
                @Model.getEdificio(@item.IdProdServEsp)
            </td>
            <td>
                <a asp-page="./Edit"
                   asp-route-IdEdificio="@item.IdEdificio"
                   asp-route-IdEspacio="@item.IdEspacio"
                   asp-route-IdZona="@item.IdZona"
                   asp-route-IdProdServ="@item.IdProdServ"
                   asp-route-IdProdServEsp="@item.IdProdServEsp" >Edit</a> |
                <a asp-page="./Details"
                   asp-route-IdEdificio="@item.IdEdificio"
                   asp-route-IdEspacio="@item.IdEspacio"
                   asp-route-IdZona="@item.IdZona"
                   asp-route-IdProdServ="@item.IdProdServ"
                   asp-route-IdProdServEsp="@item.IdProdServEsp" >Details</a> |
                <a asp-page="./Delete"
                   asp-route-IdEdificio="@item.IdEdificio"
                   asp-route-IdEspacio="@item.IdEspacio"
                   asp-route-IdZona="@item.IdZona"
                   asp-route-IdProdServ="@item.IdProdServ"
                   asp-route-IdProdServEsp="@item.IdProdServEsp" >Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
