@page
@model ProyectoBase.Pages.FicGestionEventos.CatalogoEstatus.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>cat_estatus</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.cat_estatus.IdTipoEstatus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.cat_estatus.IdTipoEstatus)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.cat_estatus.Clave)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.cat_estatus.Clave)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.cat_estatus.DesEstatus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.cat_estatus.DesEstatus)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.cat_estatus.Activo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.cat_estatus.Activo)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.cat_estatus.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
