@page
@model ProyectoBase.Pages.Menu.FicGestionEventos.ResEventoClienteBoletos.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.res_evento_cliente_boletos[0].IdReservaCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.res_evento_cliente_boletos[0].IdEvento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.res_evento_cliente_boletos[0].IdBoleto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.res_evento_cliente_boletos[0].IdPersona)
            </th>
            <th>
                Confirmado?
            </th>
            <th>
                Nombre
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.res_evento_cliente_boletos) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdReservaCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEvento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdBoleto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdPersona)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConfirmaAsistencia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                
            </td>
        </tr>
}
    </tbody>
</table>
