@page
@model ProyectoBase.Pages.Menu.FicGestionEventos.ResEventoClienteBoletos.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Boletos Reservados</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Evento
            </th>
            <th>
                @Html.DisplayNameFor(model => model.res_evento_cliente_boletos[0].IdBoleto)
            </th>
            <th>
                Reservo
            </th>
            <th>
                Confirmado?
            </th>
            <th>
                Nombre
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.res_evento_cliente_boletos)
        {
        <tr>
            <td>
                @Model.getEvento(item.IdEvento.ToString())
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdBoleto)
            </td>
            <td>
                @Model.getPersonaReg(item.IdPersona.ToString())
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConfirmaAsistencia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                <a asp-page="Edit"
                   asp-route-reserva="@item.IdReservaCliente"
                   asp-route-evento="@item.IdEvento"
                   asp-route-boleto="@item.IdBoleto"
                   class="glyphicon glyphicon-check"></a>
                <a asp-page="Delete"
                   asp-route-reserva="@item.IdReservaCliente"
                   asp-route-evento="@item.IdEvento"
                   asp-route-boleto="@item.IdBoleto"
                   class="glyphicon glyphicon-remove"></a>
            </td>
        </tr>
        }
    </tbody>
</table>
