@page
@model ProyectoBase.Pages.Menu.FicGestionEventos.EventoServicios.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Servicios</h2>

<p>
    <a asp-page="Create" asp-route-id="@Model.IdEvento" class="btn btn-info">Asignar Servicio</a> |
    <a asp-page="../Eventos/index" asp-route-id="@Model.IdEvento" class="btn btn-warning">Regresar a la Lista de Eventos</a>
</p>

<dl class="dl-horizontal">
    <dt>
        <label class="control-label">Evento:</label>
    </dt>
    <dd>
        @Model.TipoGenEvento(Model.res_eventos.IdTipoGenEvento.ToString())
    </dd>
    <dt>
        <label class="control-label">Orador:</label>
    </dt>
    <dd>
        @Model.PersonaReg(Model.res_eventos.IdPersonaReg.ToString())
    </dd>
    <dt>
        <label class="control-label">Nombre del Evento:</label>
    </dt>
    <dd>
        @Html.DisplayFor(model => model.res_eventos.NombreEvento)
    </dd>
    <dt>
        <label class="control-label">Observaciones:</label>
    </dt>
    <dd>
        @Html.DisplayFor(model => model.res_eventos.Observacion)
    </dd>
    <dt>
        <label class="control-label">Explicación:</label>
    </dt>
    <dd>
        @Html.DisplayFor(model => model.res_eventos.Explicacion)
    </dd>
    <dt>
        <label class="control-label">URL de Página Web:</label>
    </dt>
    <dd>
        @Html.DisplayFor(model => model.res_eventos.URL)
    </dd>
    <dt>
        <label class="control-label">Fecha de Inicio:</label>
    </dt>
    <dd>
        @Model.res_eventos.FechaIn.ToShortDateString()
    </dd>
    <dt>
        <label class="control-label">Fecha de Culminación:</label>
    </dt>
    <dd>
        @Model.res_eventos.FechaFin.ToShortDateString()
    </dd>
    <dt>
        <label class="control-label">Edificio:</label>
    </dt>
    <dd>
        @Model.Edificio(Model.res_eventos.IdEdificio.ToString())
    </dd>
    <dt>
        <label class="control-label">Fecha de Registro:</label>
    </dt>
    <dd>
        @Html.DisplayFor(model => model.res_eventos.FechaReg)
    </dd>
    <dt>
        <label class="control-label">Usuario que Registro:</label>
    </dt>
    <dd>
        @Html.DisplayFor(model => model.res_eventos.UsuarioReg)
    </dd>
</dl>

<table class="table">
    <thead>
        <tr>
                <th>
                    Requerido
                </th>
                <th>
                    Producto/Servicio
                </th>
                <th>
                    Especifico
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.res_evento_servicios) {
        <tr>
            <td>
                @Model.getRequerido(item.Requerido)
            </td>
            <td>
                @Model.getProductoServico(item.IdProdServ.ToString())
            </td>
            <td>
                @Model.getProductoServicoEsp(item.IdProdServEsp.ToString(), item.IdProdServ.ToString())
            </td>
            <td>
                <a asp-page="./Delete" class="glyphicon glyphicon-trash"
                   asp-route-evento="@Model.IdEvento"
                   asp-route-requerido="@item.Requerido"
                   asp-route-prodserv="@item.IdProdServ"
                   asp-route-prodservesp="@item.IdProdServEsp"></a>
            </td>
        </tr>
}
    </tbody>
</table>
