@page
@model ProyectoBase.Pages.FicGestionEventos.EventoEstatus.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>res_evento_estatus</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.res_evento_estatus.IdEvento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.res_evento_estatus.IdEvento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.res_evento_estatus.FechaEstatus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.res_evento_estatus.FechaEstatus)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.res_evento_estatus.IdTipoEstatus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.res_evento_estatus.IdTipoEstatus)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.res_evento_estatus.IdEstatus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.res_evento_estatus.IdEstatus)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.res_evento_estatus.Actual)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.res_evento_estatus.Actual)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.res_evento_estatus.Observacion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.res_evento_estatus.Observacion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.res_evento_estatus.UsuarioReg)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.res_evento_estatus.UsuarioReg)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.res_evento_estatus.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
