@page
@model ProyectoBase.Pages.Menu.FicGestionEventos.RhCatPersonas.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>rh_cat_personas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.rh_cat_personas.IdInstituto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.rh_cat_personas.IdInstituto)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.rh_cat_personas.NumControl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.rh_cat_personas.NumControl)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.rh_cat_personas.Nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.rh_cat_personas.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.rh_cat_personas.ApPaterno)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.rh_cat_personas.ApPaterno)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.rh_cat_personas.ApMaterno)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.rh_cat_personas.ApMaterno)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.rh_cat_personas.RFC)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.rh_cat_personas.RFC)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.rh_cat_personas.CURP)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.rh_cat_personas.CURP)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.rh_cat_personas.TipoPersona)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.rh_cat_personas.TipoPersona)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.rh_cat_personas.Sexo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.rh_cat_personas.Sexo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.rh_cat_personas.RutaFoto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.rh_cat_personas.RutaFoto)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.rh_cat_personas.Alias)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.rh_cat_personas.Alias)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.rh_cat_personas.FechaNac)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.rh_cat_personas.FechaNac)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="rh_cat_personas.IdPersona" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
