@page
@model ProyectoBase.Pages.Menu.FicGestionEventos.RhCatPersonas.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Eliminar</h2>

<h3>¿Quieres Eliminar esta Persona?</h3>
<h4>Catálago de Personas</h4>
<div>
    <h4>Persona</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            ID de Institución:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.rh_cat_personas.IdInstituto)
        </dd>
        <dt>
            Número de Control:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.rh_cat_personas.NumControl)
        </dd>
        <dt>
            Nombre:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.rh_cat_personas.Nombre)
        </dd>
        <dt>
            Apellido Paterno:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.rh_cat_personas.ApPaterno)
        </dd>
        <dt>
            Apellido Materno:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.rh_cat_personas.ApMaterno)
        </dd>
        <dt>
            RFC:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.rh_cat_personas.RFC)
        </dd>
        <dt>
            CURP:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.rh_cat_personas.CURP)
        </dd>
        <dt>
            Tipo de Persona:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.rh_cat_personas.TipoPersona)
        </dd>
        <dt>
            Sexo:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.rh_cat_personas.Sexo)
        </dd>
        <dt>
            Ruta de Fotografia:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.rh_cat_personas.RutaFoto)
        </dd>
        <dt>
            Alias:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.rh_cat_personas.Alias)
        </dd>
        <dt>
            Fecha de Nacimiento
        </dt>
        <dd>
            @Html.DisplayFor(model => model.rh_cat_personas.FechaNac)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="rh_cat_personas.IdPersona" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-page="Index" class="btn btn-warning">Regresar a la Lista</a>
    </form>
</div>
