@page
@model ProyectoBase.Pages.Menu.FicGestionEventos.RhCatPersonas.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Editar - @Model.rh_cat_personas.Nombre @Model.rh_cat_personas.ApPaterno @Model.rh_cat_personas.ApMaterno</h2>
<h4>Catálago de Personas</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="rh_cat_personas.IdPersona" />
            <div class="form-group">
                Id de Institución:
                <input asp-for="rh_cat_personas.IdInstituto" class="form-control" />
                <span asp-validation-for="rh_cat_personas.IdInstituto" class="text-danger"></span>
            </div>
            <div class="form-group">
                Número de Contro:
                <input asp-for="rh_cat_personas.NumControl" class="form-control" />
                <span asp-validation-for="rh_cat_personas.NumControl" class="text-danger"></span>
            </div>
            <div class="form-group">
                Nombre:
                <input asp-for="rh_cat_personas.Nombre" class="form-control" />
                <span asp-validation-for="rh_cat_personas.Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                Apellido Paterno:
                <input asp-for="rh_cat_personas.ApPaterno" class="form-control" />
                <span asp-validation-for="rh_cat_personas.ApPaterno" class="text-danger"></span>
            </div>
            <div class="form-group">
                Apellido Materno:
                <input asp-for="rh_cat_personas.ApMaterno" class="form-control" />
                <span asp-validation-for="rh_cat_personas.ApMaterno" class="text-danger"></span>
            </div>
            <div class="form-group">
                RFC:
                <input asp-for="rh_cat_personas.RFC" class="form-control" />
                <span asp-validation-for="rh_cat_personas.RFC" class="text-danger"></span>
            </div>
            <div class="form-group">
                CURP:
                <input asp-for="rh_cat_personas.CURP" class="form-control" />
                <span asp-validation-for="rh_cat_personas.CURP" class="text-danger"></span>
            </div>
            <div class="form-group">
                Tipo Persona: 
                @Html.DropDownListFor(model => model.rh_cat_personas.TipoPersona, Model.TipoPersona, "Selecciona", new { @class = "form-control" })
                <span asp-validation-for="rh_cat_personas.TipoPersona" class="text-danger"></span>
            </div>
            <div class="form-group">
                Sexo:<br />
                @Html.DropDownListFor(model => model.rh_cat_personas.Sexo, Model.Sexo, "Selecciona", new { @class = "form-control" })
                <span asp-validation-for="rh_cat_personas.Sexo" class="text-danger"></span>
            </div>
            <div class="form-group">
                Foto:
                <input type="file" asp-for="rh_cat_personas.RutaFoto" class="form-control" />
                <span asp-validation-for="rh_cat_personas.RutaFoto" class="text-danger"></span>
            </div>
            <div class="form-group">
                Alias:
                <input asp-for="rh_cat_personas.Alias" class="form-control" />
                <span asp-validation-for="rh_cat_personas.Alias" class="text-danger"></span>
            </div>
            <div class="form-group">
                Fecha de Nacimiento:
                <input asp-for="rh_cat_personas.FechaNac" class="form-control" type="date" />
                <span asp-validation-for="rh_cat_personas.FechaNac" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-info" /> |
                <a asp-page="Index" class="btn btn-warning">Regresar a la Lista</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
