@page
@model ProyectoBase.Pages.Menu.FicGestionEventos.RhCatPersonas.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Catálago de Personas</h2>

<p>
    <a asp-page="Create" class="btn btn-info">Dar de Alta</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    Matricula
                </th>
                <th>
                    Nombre
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.rh_cat_personas[0].RFC)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.rh_cat_personas[0].CURP)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.rh_cat_personas[0].TipoPersona)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.rh_cat_personas[0].Sexo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.rh_cat_personas[0].Alias)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.rh_cat_personas[0].FechaNac)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.rh_cat_personas) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumControl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
                @Html.DisplayFor(modelItem => item.ApPaterno)
                @Html.DisplayFor(modelItem => item.ApMaterno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RFC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CURP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoPersona)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sexo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Alias)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaNac)
            </td>
            <td>
                <a asp-page="./Edit" class="glyphicon glyphicon-pencil" asp-route-id="@item.IdPersona"></a> |
                <a asp-page="./Details" class="glyphicon glyphicon-list-alt" asp-route-id="@item.IdPersona"></a> |
                <a asp-page="./Delete" class="glyphicon glyphicon-trash" asp-route-id="@item.IdPersona"></a>
            </td>
        </tr>
}
    </tbody>
</table>
