@page
@model ProyectoBase.Pages.Menu.FicGestionEventos.CatTiposEstatus.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Catálago Tipos Estatus</h2>

<p>
    <a asp-page="Create">Agregar nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Descripción
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cat_tipos_estatus[0].Activo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.cat_tipos_estatus)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DesTipoEstatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Activo)
                </td>
                <td>
                    <a asp-page="./Edit" class="glyphicon glyphicon-pencil" asp-route-id="@item.IdTipoEstatus"></a> |
                    <a asp-page="./Details" class="glyphicon glyphicon-list-alt" asp-route-id="@item.IdTipoEstatus"></a> |
                    <a asp-page="./Delete" class="glyphicon glyphicon-trash" asp-route-id="@item.IdTipoEstatus"></a>
                </td>
            </tr>
        }
    </tbody>
</table>
