@page
@model ProyectoBase.Pages.Menu.FicGestionEventos.EventoZonaBoletosEstatus.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Boletos Estatus</h2>

<p>
    <a asp-page="Create" class="btn btn-info">Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.res_evento_zona_boleto_estatus[0].IdBoleto)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.res_evento_zona_boleto_estatus[0].FechaEstatus)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.res_evento_zona_boleto_estatus[0].IdTipoEstatus)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.res_evento_zona_boleto_estatus[0].IdEstatus)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.res_evento_zona_boleto_estatus[0].Actual)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.res_evento_zona_boleto_estatus[0].Observacion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.res_evento_zona_boleto_estatus[0].UsuarioReg)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.res_evento_zona_boleto_estatus) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdBoleto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaEstatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdTipoEstatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEstatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Actual)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Observacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsuarioReg)
            </td>
            <td>
                <a asp-page="./Details" asp-route-id="@item.IdEstatusDet">Details</a> |
            </td>
        </tr>
}
    </tbody>
</table>
