@page
@model ProyectoBase.Pages.FicGestionEventos.EventoHorarios.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>res_evento_horarios</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.res_evento_horarios.IdEvento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.res_evento_horarios.IdEvento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.res_evento_horarios.IdEdificio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.res_evento_horarios.IdEdificio)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.res_evento_horarios.IdEspacio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.res_evento_horarios.IdEspacio)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.res_evento_horarios.Dia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.res_evento_horarios.Dia)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.res_evento_horarios.FechaHoraIni)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.res_evento_horarios.FechaHoraIni)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.res_evento_horarios.FechaHoraFin)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.res_evento_horarios.FechaHoraFin)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.res_evento_horarios.Disponible)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.res_evento_horarios.Disponible)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.res_evento_horarios.FechaReg)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.res_evento_horarios.FechaReg)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.res_evento_horarios.UsuarioReg)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.res_evento_horarios.UsuarioReg)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.res_evento_horarios.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
