@page
@model ProyectoBase.Pages.FicGestionEventos.EventoHorarios.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.res_evento_horarios[0].IdEvento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.res_evento_horarios[0].IdEdificio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.res_evento_horarios[0].IdEspacio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.res_evento_horarios[0].Dia)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.res_evento_horarios[0].FechaHoraIni)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.res_evento_horarios[0].FechaHoraFin)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.res_evento_horarios[0].Disponible)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.res_evento_horarios[0].FechaReg)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.res_evento_horarios[0].UsuarioReg)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.res_evento_horarios) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdEvento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEdificio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEspacio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaHoraIni)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaHoraFin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Disponible)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaReg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsuarioReg)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
