@page
@model ProyectoBase.Pages.FicGestionEventos.EventoZonaBoletos.IndexModel

@{
    ViewData["Title"] = "Index";
}







<h2>Boletos</h2>

<p>
    <a asp-page="Create" class="btn btn-info"
       asp-route-edificio="@Model.IdEdificio"
       asp-route-espacio="@Model.IdEspacio"
       asp-route-evento="@Model.IdEvento"
       asp-route-zona="@Model.IdZona"
       asp-route-horario="@Model.IdHorario">Añadir</a>
    <a asp-page="../EventoZonas/Index" asp-route-edificio="@Model.IdEdificio" asp-route-espacio="@Model.IdEspacio" asp-route-evento="@Model.IdEvento" asp-route-horario="@Model.IdHorario"
       class="btn btn-warning">Regresar a lista de Zonas</a>

   
</p>

<dl class="dl-horizontal">
    <dt>
        <label class="control-label">Evento:</label>
    </dt>
    <dd>
        @Model.getEvento(Model.IdEvento.ToString())
    </dd>
    <dt>
        <label class="control-label">Edificio:</label>
    </dt>
    <dd>
        @Model.getEdificio(Model.IdEdificio.ToString())
    </dd>
    <dt>
        <label class="control-label">Espacio:</label>
    </dt>
    <dd>
        @Model.getEspacio(Model.IdEspacio.ToString())
    </dd>
    <dt>
        <label class="control-label">Zona:</label>
    </dt>
    <dd>
        @Model.getZona(Model.IdZona.ToString())
    </dd>
</dl>

<table class="table">
    <thead>
        <tr>
            <th>
                # de Boleto
            </th>
            <th>
                Descripción
            </th>
            <th>
                Precio
            </th>
            <th>
                IVA
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.res_evento_zona_boletos)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NumBoleto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DesBoleto)
                </td>
                <td>
                    $ @Html.DisplayFor(modelItem => item.Precio)
                </td>
                <td>
                    % @Html.DisplayFor(modelItem => item.IVA)
                </td>
                <td>
                    <div class="nav-item dropdown">
                        <a class="btn btn-info" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Opciones
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdown01">
                            <ul class="nav navbar-nav">
                                <li>
                                    <a asp-page="../EventoZonaBoletos/Delete" asp-route-id="@item.IdBoleto"
                                       asp-route-edificio="@Model.IdEdificio"
                                       asp-route-espacio="@Model.IdEspacio"
                                       asp-route-evento="@Model.IdEvento"
                                       asp-route-zona="@Model.IdZona"
                                       asp-route-horario="@Model.IdHorario">Eliminar</a>
                                    <a asp-page="../EventoZonaBoletosEstatus/Index" asp-route-id="@item.IdBoleto"
                                       asp-route-edificio="@Model.IdEdificio"
                                       asp-route-espacio="@Model.IdEspacio"
                                       asp-route-evento="@Model.IdEvento"
                                       asp-route-zona="@Model.IdZona"
                                       asp-route-horario="@Model.IdHorario">Estatus</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </td>
            </tr>
        }
    </tbody>
</table>
