@page
@model ProyectoBase.Pages.FicGestionEventos.EventoClienteProdServ.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Eliminar Evento</h2>

<h3>¿Estas seguro de que deseas eliminar este evento?</h3>
<div>
    <h4>Catálogo Edificios, Clientes, Productos y Servicios</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Id Evento
        </dt>
        <dd>
            @Html.DisplayFor(model => model.res_evento_cliente_prod_serv.IdEvento)
        </dd>
        <dt>
            Id Reservación Cliente
        </dt>
        <dd>
            @Html.DisplayFor(model => model.res_evento_cliente_prod_serv.IdReservaCliente)
        </dd>
        <dt>
            Id Productos y Servicios
        </dt>
        <dd>
            @Html.DisplayFor(model => model.res_evento_cliente_prod_serv.IdProdServ)
        </dd>
        <dt>
            Id Prod. y Ser. Esp.
        </dt>
        <dd>
            @Html.DisplayFor(model => model.res_evento_cliente_prod_serv.IdProdServEsp)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.res_evento_cliente_prod_serv.Cantidad)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.res_evento_cliente_prod_serv.Cantidad)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.res_evento_cliente_prod_serv.Precio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.res_evento_cliente_prod_serv.Precio)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.res_evento_cliente_prod_serv.IVA)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.res_evento_cliente_prod_serv.IVA)
        </dd>
        <dt>
            Id Unidad Medida
        </dt>
        <dd>
            @Html.DisplayFor(model => model.res_evento_cliente_prod_serv.IdUnidadMedida)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.res_evento_cliente_prod_serv.Importe)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.res_evento_cliente_prod_serv.Importe)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="res_evento_cliente_prod_serv.Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-page="./Index" class="btn btn-default">Regresar a lista</a>
    </form>
</div>
