@page
@model ProyectoBase.Pages.FicGestionEventos.EventoZonaBoletosVenta.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Boletos a la Venta</h2>

<form asp-page="./Index" method="get">

    <input name="id" value="@Model.IdClienteReserva" type="hidden"/>
    <input name="edificio" value="@Model.IdEdificio" type="hidden"/>
    <input name="espacio" value="@Model.IdEspacio" type="hidden"/>
    <input name="evento" value="@Model.IdEvento" type="hidden"/>

    <p>
        <input name="busqueda" value="@Model.CurrentFilter" placeholder="Buscar por Zona" class="form-control" />
        <input type="submit" value="Buscar" class="btn btn-info btn-block" />
    </p>
    <p>
        <a asp-page="./Index" class="btn btn-warning">Limpiar</a>
    </p>
</form>

<dl class="dl-horizontal">
    
    <dt>
        <label class="control-label">Evento:</label>
    </dt>
    <dd>
        @Model.getEvento(Model.IdEvento.ToString())
    </dd>
    <dt>
        <label class="control-label">Edificio:</label>
    </dt>
    <dd>
        @Model.getEdificio(Model.IdEdificio.ToString())
    </dd>
    <dt>
        <label class="control-label">Espacio:</label>
    </dt>
    <dd>
        @Model.getEspacio(Model.IdEspacio.ToString())
    </dd>
</dl>

<table class="table">
    <thead>
        <tr>
            <th>
                # de Boleto
            </th>
            <th>
                Descripción
            </th>
            <th>
                Precio
            </th>
            <th>
                IVA
            </th>
            <td>
                Zona
            </td>
            <td>
                Ubicación
            </td>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.res_evento_zona_boletos)
{
    @if (Model.Existe(item.IdBoleto.ToString())) { 
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumBoleto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DesBoleto)
            </td>
            <td>
                $ @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                % @Html.DisplayFor(modelItem => item.IVA)
            </td>
            <td>
                @Model.getZona(item.IdZona.ToString())
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ubicacion)
            </td>
            <td>
                <div class="nav-item dropdown">
                    <a class="btn btn-info" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Opciones
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <ul class="nav navbar-nav">
                            <li>
                                <a asp-page="../ResEventoClienteBoletos/Create" class="glyphicon glyphicon-warning-sign"
                                   asp-route-cliente="@Model.IdClienteReserva"
                                   asp-route-evento="@Model.IdEvento"
                                   asp-route-boleto="@item.IdBoleto"
                                   asp-route-edificio="@Model.IdEdificio"
                                   asp-route-espacio="@Model.IdEspacio"> Estatus</a>
                            </li>
                        </ul>
                    </div>
                </div>
               
            </td>
        </tr>
    }
}
    </tbody>
</table>
