@page
@model ProyectoBase.Pages.FicGestionEventos.EventoZonaBoletosVenta.IndexModel

@{
    ViewData["Title"] = "Index";
}



<h2>
    Boletos a la Venta 
</h2>



<dl class="dl-horizontal">

    <dt>
        <label class="control-label">Evento:</label>
    </dt>
    <dd>
        @Model.getEvento(Model.IdEvento.ToString())
    </dd>
    <dt>
        <label class="control-label">Edificio:</label>
    </dt>
    <dd>
        @Model.getEdificio(Model.IdEdificio.ToString())
    </dd>
    <dt>
        <label class="control-label">Espacio:</label>
    </dt>
    <dd>
        @Model.getEspacio(Model.IdEspacio.ToString())
    </dd>
</dl>

<table class="table">
    <thead>
        <tr>
            <th>
                # de Boleto
            </th>
            <th>
                Descripción
            </th>
            <th>
                Precio
            </th>
            <th>
                IVA
            </th>
            <th>
                Zona
            </th>
            <th>
                Ubicación
            </th>
            <th>
                Mapa
            </th>
           
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.res_evento_zona_boletos)
    {
        @if (Model.Existe(item.IdBoleto.ToString()))
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumBoleto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DesBoleto)
            </td>
            <td>
                $ @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                % @Html.DisplayFor(modelItem => item.IVA)
            </td>
            <td>
                @Model.getZona(item.IdZona.ToString())
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ubicacion)
            </td>
            <td>
                <img onclick="javascript:this.width=300;this.height=200" ondblclick="javascript:this.width=40;this.height=30" src="~/images/@Model.getImage(item.IdZona.ToString(),item.IdEspacio.ToString(),item.IdEvento.ToString(),item.IdEdificio.ToString())" width="40" height="30"/>
            </td>



            <td>
                <div class="nav-item dropdown">
                    <a class="btn btn-info" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Opciones
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <ul class="nav navbar-nav">
                            <li>
                                <a asp-page="../ResEventoClienteBoletos/Create" 
                                   asp-route-cliente="@Model.IdClienteReserva"
                                   asp-route-evento="@Model.IdEvento"
                                   asp-route-boleto="@item.IdBoleto"
                                   asp-route-edificio="@Model.IdEdificio"
                                   asp-route-espacio="@Model.IdEspacio">Reservar</a>
                              
                            </li>
                        </ul>
                    </div>
                </div>

            </td>
        </tr>
}
}
    </tbody>
</table>
