@page
@model ProyectoBase.Pages.Menu.FicGestionEventos.EventoZonas.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>res_evento_zonas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.res_evento_zonas.IdEdificio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.res_evento_zonas.IdEdificio)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.res_evento_zonas.IdEspacio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.res_evento_zonas.IdEspacio)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.res_evento_zonas.IdEvento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.res_evento_zonas.IdEvento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.res_evento_zonas.IdZona)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.res_evento_zonas.IdZona)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.res_evento_zonas.FechaReg)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.res_evento_zonas.FechaReg)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.res_evento_zonas.UsuarioReg)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.res_evento_zonas.UsuarioReg)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.res_evento_zonas.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
