@page
@model ProyectoBase.Pages.Menu.FicGestionEventos.EventoZonaBoletosEstatus.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Boletos Estatus</h2>

<p>
    <a asp-page="Create"
       asp-route-id="@Model.IdBoleto"
       asp-route-edificio="@Model.IdEdificio"
       asp-route-espacio="@Model.IdEspacio"
       asp-route-evento="@Model.IdEvento"
       asp-route-zona="@Model.IdZona"
       asp-route-horario="@Model.IdHorario"
       class="btn btn-info">Nuevo</a>
    <a asp-page="../EventoZonaBoletos/Index"
       asp-route-edificio="@Model.IdEdificio"
       asp-route-espacio="@Model.IdEspacio"
       asp-route-evento="@Model.IdEvento"
       asp-route-zona="@Model.IdZona"
       asp-route-horario="@Model.IdHorario"
       class="btn btn-warning">Regresar a la Lista</a>

</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    Fecha
                </th>
                <th>
                    Estatus
                </th>
                <th>
                    Actual
                </th>
                <th>
                    Observaciones
                </th>
                <th>
                    Usuario
                </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.res_evento_zona_boleto_estatus) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaEstatus)
            </td>
            <td>
                @Model.getEstatus(item.IdEstatus.ToString())
            </td>
            <td>
                @Model.getActual(item.Actual.ToString())
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Observacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsuarioReg)
            </td>
        </tr>
}
    </tbody>
</table>
